{% load static %}
{% block body %}
{% include 'admin_navigation.html' %}

<script>
    function checkpass(){
    if(document.changepassword.newpassword.value != document.changepassword.confirmpassword.value){
    alert("New password & confirm password field does not match");
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }
</script>

<marquee style="font-family: Monotype Corsiva; font-size:25px; color:darkcyan; background-color:black;">
    Change Password
</marquee>
<hr>
<form class="container mt-5" method="POST" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}
    <label><b>Current Password</b></label>
    <input type="password" class="form-control" name="currentpassword" required="true">

    <label><b>New Password</b></label>
    <input type="password" class="form-control" name="newpassword" required="true">

    <label><b>Confirm New Password</b></label>
    <input type="password" class="form-control" name="confirmpassword" required="true">

    <input type="submit" class="btn btn-primary" style="margin-top:2%; color:darkcyan; background-color:black; height:40px;">

</form>

{% if error == "No" %}
<script>
    alert("Your password updated Successfully");
    window.location = ('{% url 'user_logout' %}');
</script>
{% endif %}

{% if error == "Yes" %}
<script>
    alert("Something went wrong, Try Again");
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Your Current password is wrong");
</script>
{% endif %}



{% endblock body %}