{% load static %}
{% block body %}
{% include 'recruiter_navigation.html' %}



<marquee style="font-family: Monotype Corsiva; font-size:25px; color:darkcyan; background-color:black;">
    Change Company Logo
</marquee>


    <form class="container mt-5" method="POST" enctype="multipart/form-data" onsubmit="return checkpass();">
     {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="jobtitle">Job Title</label>
            <input type="text" class="form-control" readonly id="jobtitle" name="jobtitle" value="{{job.title}}" required>
        </div>
    </div>


        <div class="form-row">
        <div class="form-group col-md-12">
            <img src="{{job.image.url}}" width="120" height="90">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="location">Company Logo</label>
            <input type="file" class="form-control" id="location" name="logo" required>
        </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary my-3" style="width:200px">
</form>


{% if error == "No" %}
<script>
    alert("Company logo has been updated");
    window.location.href = "{% url 'change_companylogo' job.id %}";
</script>
{% endif %}

{% if error == "Yes" %}
<script>
    alert("Something went wrong, try again...");
</script>
{% endif %}

{% endblock body %}